img.upgradeImage  {
    margin-right: 20px;
    border-radius: 12px;
    border : 2px solid  black;
    height : 128px;
    width : auto;
}

img#mainButton {
    height : 128px;
    width : auto;
    transition: all 100ms ease-in-out;
}

img#mainButton:hover {
    transform: scale(1.15);
}

img#mainButton:active { 
    transform: scale(1.05);
}


.upgrade {
    display : flex;
    justify-content: left;
    align-items: top;
    background-color: aliceblue;
    border: 1px dot;
    border-radius: 12px;
    height : 130px;
    width : auto;
}

.grid-container {
    display: grid;
}

.two-columns {
    grid-template-columns: auto auto ;
}

.row-column-gap {
    column-gap: 20px;
    row-gap: 20px;
}

.button {
    height: 40px;
    width : 120px;
    background-color: #0c8501;
    display : flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.button:hover {
    background-color: #15ff00;
    transform: rotate(4deg);
}

.button:active { 
    transform: rotate(2deg) scale(0.9);
}

span {
    font-size: large;
}

.saveButton {
    
    transition: all 0.1s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #0c68fa;
    width : fit-content;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.saveButton:hover {
    background-color:#4d92ff;
    transform: rotate(4deg) scale(1.05);
}

.saveButton:active { 
    transform: rotate(-1deg) scale(0.9);
}

.saveWrapper {
    display: flex;
    flex-direction: row;
}

#saveText {
    width : 50%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-family: consolasis;
}

.padding-top {
    padding-top: 10px;
}

* {
    font-family: "Lucida Console", "Courier New", monospace;
}
#saveText {
    width : 50%;

}
