img.upgradeImage  {
    border : 2px solid  black;
    height : 128px;
    width : auto;
}

img#mainButton {
    height : 128px;
    width : auto;
    transition: all 100ms ease-in-out;
}

img#mainButton:hover {
    transform: scale(1.15);
}

img#mainButton:active { 
    transform: scale(1.05);
}


.upgrade {
    display : flex;
    justify-content: left;
    align-items: top;
    border : 2px solid black;
    height : 130px;
    width : auto;
}

.grid-container {
    display: grid;
}

.two-columns {
    grid-template-columns: auto auto ;
}

.button {
    background-color: #0c8501;
    display : flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width : 120px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.button:hover {
    background-color: #15ff00;
    transform: rotate(4deg);
}

.button:active { 
    transform: rotate(2deg) scale(0.9);
}

span {
    font-size: large;
}

.saveButton {
    
    transition: all 0.1s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #0c68fa;
    width : fit-content;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.saveButton:hover {
    background-color:#4d92ff;
    transform: rotate(4deg) scale(1.05);
}

.saveButton:active { 
    transform: rotate(-1deg) scale(0.9);
}

.saveWrapper {
    display: flex;
    flex-direction: row;
}

#saveText {
    width : 50%;

}
